<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hobby Link</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Inicio</a>
                <a class="nav-link" href="/publicaciones">Publicaciones</a>
                <a class="nav-link" href="/publicaciones/new">Crear publicación</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUsuario) {%>
                <a class="nav-link" href="/login">Iniciar Sesión</a>
                <a class="nav-link" href="/register">Registrarse</a>
                <% } else {%>
                <a class="nav-link" href="/logout">Cerrar sesión</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>